services:
  web:
    expose:
      - "8000"
    ports: []
    env_file:
      - .env.prod
    environment:
      - DATABASE_URL=postgresql://${DB_USER_PROD}:${DB_PASS_PROD}@host.docker.internal:34234/${DB_NAME_PROD}
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  celery:
    expose:
      - "5555"
    ports: []
    env_file:
      - .env.prod
    environment:
      - DATABASE_URL=postgresql://${DB_USER_PROD}:${DB_PASS_PROD}@host.docker.internal:${DB_PORT_PROD}/${DB_NAME_PROD}
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  flower:
    build: .
    command: celery -A src.tasks.tasks flower --port=5555 --basic_auth=${FLOWER_USER}:${FLOWER_PASS}
    expose:
      - "5555"
    ports: []
    env_file:
      - .env.prod
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/prod/nginx/conf.d:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - certbot-webroot:/var/www/certbot
    depends_on:
      - web
      - flower

volumes:
  certbot-webroot:
    