services:
  web:
    build: .
    container_name: fastapi_app
    restart: unless-stopped
    expose:
      - "8000"
    ports: []
    environment:
      - DATABASE_URL=postgresql://${db_user}:${db_pass}@${db_host}:${db_port}/${db_name}

  celery:
    build: .
    container_name: celery_worker
    restart: unless-stopped
    expose:
      - "5555"
    ports: []
    command: celery -A src.tasks.tasks worker --loglevel=info --concurrency=8 -n worker@%h -E
    environment:
      - DATABASE_URL=postgresql://${db_user}:${db_pass}@${db_host}:${db_port}/${db_name}

  flower:
    build: .
    container_name: flower
    restart: unless-stopped
    expose:
      - "5555"
    ports: []
    command: celery -A src.tasks.tasks flower --port=5555 --basic_auth=admin:${admin_password}

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: unless-stopped
