services:
  web:
    build: .
    container_name: fastapi_app
    restart: unless-stopped
    volumes:
      - .:/app
    depends_on:
      - redis

  celery:
    build: .
    container_name: celery_worker
    restart: unless-stopped
    volumes:
      - .:/app
 
  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: unless-stopped
    volumes:
      - redis-data:/data

volumes:
  redis-data:
